

<templates>
	<template id="tmp_header">
		<!-- <header id="header">       -->
		        <!-- <div class="container">
		            <div class="row">
		                <div class="col-sm-12 overflow">
		                   <div class="social-icons pull-right">
		                        <ul class="nav nav-pills">
		                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
		                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
		                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
		                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
		                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
		                        </ul>
		                    </div> 
		                </div>
		             </div>
		        </div> -->
		        <div class="navbar navbar-inverse" role="banner">
		            <div class="container">
		                <div class="navbar-header">
		                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                        <span class="sr-only">Toggle navigation</span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                    </button>

		                    <a class="navbar-brand" href="index.html">
		                    	<h1><img src="images/logo.png" alt="logo" width="208"></h1>
		                    </a>
		                    
		                </div>
		                <div class="collapse navbar-collapse">
		                    <ul class="nav navbar-nav navbar-right">
		                        <li class="active"><a href="index.html">Home</a></li>
		                        <li class="dropdown"><a href="pinyin.html">语文 <i class="fa fa-angle-down"></i></a>
		                            <ul role="menu" class="sub-menu">
		                                 <li><a href="pinyin.html">拼音</a></li>
		                                <li><a href="yinjie.html">音节表</a></li>
		                                <li><a href="yw-zhishi.html">文学常识</a></li>
		                               <!--  <li><a href="aboutus2.html">About 2</a></li>
		                                <li><a href="service.html">Services</a></li>
		                                <li><a href="pricing.html">Pricing</a></li>
		                                <li><a href="contact.html">Contact us</a></li>
		                                <li><a href="contact2.html">Contact us 2</a></li>
		                                <li><a href="404.html">404 error</a></li>
		                                <li><a href="coming-soon.html">Coming Soon</a></li> -->
		                            </ul>
		                        </li>       
		                        <li class="dropdown"><a href="math-gongshi-1.html">数学 <i class="fa fa-angle-down"></i></a>
		                            <ul role="menu" class="sub-menu">
		                                <li><a href="math-chengfa.html">九九表</a></li>
		                                <li><a href="math-gongshi-1.html">入门公式</a></li>
		                            </ul>

		                        <li class="dropdown"><a href="yy-yinbiao.html">英语 <i class="fa fa-angle-down"></i></a>
		                            <ul role="menu" class="sub-menu">
		                                <li><a href="yy-yinbiao.html">音标</a></li>
		                                <li><a href="yy-kk.html">KK音标</a></li>
		                                <li><a href="yy-gjyb.html">国际音标</a></li>
										<li><a href="yy-body.html">身体部位</a></li>
										<li><a href="yy-sx.html">十二生肖</a></li>
										<li><a href="yy-cigen.html">英语词根</a></li>

		                            </ul>
		                        </li>
		                        <li class="dropdown"><a href="#">理综<i class="fa fa-angle-down"></i></a>
		                            <ul role="menu" class="sub-menu">
		                                <li><a href="hx-yuansuzhouqi.html">化学元素周期表</a></li>                               
		                            </ul>
		                        </li>        
		                         <li class="dropdown"><a href="#">文综<i class="fa fa-angle-down"></i></a>
		                            <ul role="menu" class="sub-menu">
		                                <li><a href="ls-chaodaibiao.html">朝代年份表</a></li>
		                            </ul>
		                        </li>
								<li class="dropdown"><a href="#">网站导航<i class="fa fa-angle-down"></i></a>
									<ul role="menu" class="sub-menu">
										<li><a href="dh.html">儿童百科知识视频</a></li>
										<li><a href="http://www.etymon.cn/index.html" target="_blank">英语词根</a></li>
									</ul>

								</li>
		                             
		                        <!-- <li><a href="shortcodes.html ">Shortcodes</a></li>                     -->
		                    </ul>
		                </div>
		              <!--   <div class="search">
		                    <form role="form">
		                        <i class="fa fa-search"></i>
		                        <div class="field-toggle">
		                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
		                        </div>
		                    </form>
		                </div> -->
		            </div>
		        </div>
		    <!-- </header> -->
		
	</template>

	<template id="tmp_footer">
		<div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <!--<div class="col-md-4 col-sm-6">-->
                    <!--<div class="testimonial bottom">-->
                        <!--<h2>Testimonial</h2>-->
                        <!--<div class="media">-->
                            <!--<div class="pull-left">-->
                                <!--<a href="#"><img src="images/home/profile1.png" alt=""></a>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>-->
                                <!--<h3><a href="#">- Jhon Kalis</a></h3>-->
                            <!--</div>-->
                         <!--</div>-->
                        <!--<div class="media">-->
                            <!--<div class="pull-left">-->
                                <!--<a href="#"><img src="images/home/profile2.png" alt=""></a>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>-->
                                <!--<h3><a href="">- Abraham Josef</a></h3>-->
                            <!--</div>-->
                        <!--</div>   -->
                    <!--</div> -->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-6">-->
                    <!--<div class="contact-info bottom">-->
                        <!--<h2>Contacts</h2>-->
                        <!--<address>-->
                        <!--E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br> -->
                        <!--Phone: +1 (123) 456 7890 <br> -->
                        <!--Fax: +1 (123) 456 7891 <br> -->
                        <!--</address>-->

                        <!--<h2>Address</h2>-->
                        <!--<address>-->
                        <!--Unit C2, St.Vincent's Trading Est., <br> -->
                        <!--Feeder Road, <br> -->
                        <!--Bristol, BS2 0UY <br> -->
                        <!--United Kingdom <br> -->
                        <!--</address>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-12">-->
                    <!--<div class="contact-form bottom">-->
                        <!--<h2>Send a message</h2>-->
                        <!--<form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">-->
                            <!--<div class="form-group">-->
                                <!--<input type="text" name="name" class="form-control" required="required" placeholder="Name">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<input type="email" name="email" class="form-control" required="required" placeholder="Email Id">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>-->
                            <!--</div>                        -->
                            <!--<div class="form-group">-->
                                <!--<input type="submit" name="submit" class="btn btn-submit" value="Submit">-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; 2019  渝ICP备19015714号</p>
                        <!--<p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>-->
                    </div>
                </div>
            </div>
        </div>
		
	</template>

</templates>

