<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="历史年代口诀  历史朝代口诀"/>
    <meta name="description" content="历史年代口诀  历史朝代口诀"/>
    <meta name="author" content="">
    <title>古代文学常识 | 我师焉</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <style type="text/css">
        dl.koujue {
            font-size: 24px;
            border: 1px solid #778778;
            background: #009688;
            text-align: left;
            padding: 5px;
            color: #fff;
            font-weight: bolder;
            font-family: cursive;
            margin-top: 15px;

        }

        dl.koujue > dd:before {
            content: " * ";
        }

    </style>
</head><!--/head-->

<body>
<header slot="tmp_header" id="header"></header>
<!--/#header-->


<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">古代文学常识</h1>
                        <p>古代文学常识</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="portfolio">
    <div class="container">
        <div class="row">
            <!-- <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">全部</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".zhouqi">元素周期表</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".skl">顺口溜</a></li>


            </ul> --> <!--/#portfolio-filter-->


            <div class="portfolio-items" id="app">


                <div class="col-xs-6 col-sm-12 col-md-6 portfolio-item zhouqi " v-for="index in totalSplit">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-info ">
                            <dl class="koujue" :style="'background:'+colors[index%colors.length]">
                                <dd v-for="j in step"  v-if="((index-1)*step+(j-1))<length"> {{info[(index-1)*step+(j-1)]}} </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d41a25;">-->
                <!--<dd>1.岁寒三友:松、竹、梅。</dd>-->
                <!--<dd>2.花中四君子:梅、兰、竹、菊。</dd>-->
                <!--<dd>3.文人四友:琴、棋、书、画。</dd>-->
                <!--<dd>4.文房四宝:笔、墨、纸、砚。</dd>-->
                <!--<dd>5.四库全书:经、史、子、集。</dd>-->
                <!--<dd>6.汉字六书:象形、指事、形声、会意、转注、假借</dd>-->
                <!--<dd>7.三纲五常:“三纲”:父为子纲、君为臣纲、夫为妻纲。”五常”:仁、义、礼、智、信。</dd>-->
                <!--<dd>8.三皇五帝:三皇:天皇、地皇、人皇或伏義、女娲、神农。五帝:黄帝、颛顼、帝喾、唐尧、虞舜。</dd>-->
                <!--<dd>9.三教九流: “三教”:儒教、佛教、道教。”九流”:儒家、道家、阴阳家、法家、名家、墨家、纵横家、杂家、农家。</dd>-->
                <!--</dl>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #5d74d4;">-->
                <!--<dd>10.五金:金、银、铜、铁、锡。</dd>-->
                <!--<dd>11.五味:酸、甜、苦、辣、咸。</dd>-->
                <!--<dd>12.五行:金、木、水、火、土。</dd>-->
                <!--<dd>13.五岳:泰山(东)、衡山(南)、华山(西)、 恒山(北)、 嵩山(中)。</dd>-->
                <!--<dd>14.佛教四大名山:五台山、九华山、峨眉山、普陀山。</dd>-->
                <!--<dd>15.六合:天、地、东、南、西、北六个方位。</dd>-->
                <!--<dd>16.八荒:东、东南、南、西南、西、西北、北、东北。</dd>-->
                <!--<dd>17.中国的古称:九州、神州、赤县、华夏、九土、中华、华夏。</dd>-->
                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #9450d4;">-->

                <!--<dd>18. 二十四节气:-->
                <!--春雨惊春清谷天，夏满芒夏暑相连。-->
                <!--秋处露秋寒霜降，冬雪雪冬小大寒。-->
                <!--每月两节不变更，最多相差一两天。-->
                <!--上半年逢六廿一，下半年逢八廿三。-->
                <!--</dd>-->
                <!--<dd>19. 唐宋八大家:韩愈、柳宗元、欧阳修、苏洵、苏轼、苏辙、王安石、曾巩。</dd>-->
                <!--<dd>20.初唐四杰:王勃、杨炯、卢照邻、骆宾王。</dd>-->
                <!--<dd>21.一门父子三词客:苏洵、苏轼、苏辙。</dd>-->
                <!--<dd>22.竹林七贤:嵇康、阮籍、山涛、向秀、刘伶、王戎、阮咸。</dd>-->
                <!--<dd>23.扬州八怪:郑變、罗聘、黄慎、李方膺、高翔、金农、李觶、汪士慎。</dd>-->

                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d4c632;">-->

                <!--<dd>24.“韩柳” :韩愈和柳宗元，古文运动倡导者。</dd>-->
                <!--<dd>25.豪放派词人:苏轼、辛弃疾。婉约派词人:李清照。</dd>-->
                <!--<dd>26.南宋四大家:陆游、杨万里、范成大、尤袤。</dd>-->
                <!--<dd>27.李杜:李白、杜甫。小李杜:李商隐、杜牧。</dd>-->
                <!--<dd>28.元曲四大家:关汉卿、郑光祖、白朴、马致远。</dd>-->
                <!--<dd>29.书法四大家:颜真卿、柳公权、欧阳询、赵孟頫(fu3)。</dd>-->
                <!--<dd>30.《诗经》 "六义” 指:风、雅、颂(分类)、赋、比、兴(表现手法)。</dd>-->
                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d4c632;">-->
                <!--<dd>31.四书五经是儒家的主要经典:-->
                <!--"四书”即《论语》《孟子》《中庸》《大学》;-->
                <!--“五经”指《诗》《书》《礼》《易》《春秋》。-->
                <!--</dd>-->
                <!--<dd>32.四史:《史记》《汉书》《后汉书》《三国志》。</dd>-->
                <!--<dd>33.四大古典名著:《红楼梦》《三国演义》《水浒》《西游记》。</dd>-->
                <!--<dd>34.四大民间传说:《牛郎织女》《梁山伯与祝英台》、《孟姜女》《白蛇传》。</dd>-->
                <!--<dd>35.中国古代四大名剧:《西厢记》《桃花扇》《牡丹亭》《长生殿》。</dd>-->
                <!--<dd>36.最早的诗歌总集是《诗经》。</dd>-->

                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d4c632;">-->

                <!--<dd>37.最早的田园诗人是东晋的陶渊明。</dd>-->
                <!--<dd>38.最早最杰出的边塞诗人是盛唐的高适和岑参。</dd>-->
                <!--<dd>39.古代最杰出的女词人是南宋的李清照。</dd>-->
                <!--<dd>40.古代最伟大的浪漫主义诗人是唐代的李白。</dd>-->
                <!--<dd>41.古代最伟大的现实主义诗人是唐代的杜甫。</dd>-->
                <!--<dd>42.古代最著名的长篇神话小说是明代吴承恩的《西游记》。</dd>-->
                <!--<dd>43.古代最著名的长篇历史小说是明初罗贯中的《三国演义》。</dd>-->
                <!--<dd>44.古代最早写农民起义的长篇小说是元末明初施耐庵的《水浒传》。</dd>-->
                <!--<dd>45.古代最伟大的现实主义长篇小说是清代曹雪芹的《红楼梦》。</dd>-->

                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d4c632;">-->

                <!--<dd>46.古代最杰出的长篇讽刺小说是清代吴敬梓的《儒林外史》。</dd>-->
                <!--<dd>47.古代最杰出的文言短篇小说集是清代蒲松龄的《聊斋志异》。</dd>-->
                <!--<dd>48.古代最早的语录体散文是《论语》。</dd>-->
                <!--<dd>49.古代最早的记事详备的编年体史书是《左传》。</dd>-->
                <!--<dd>50.古代最早的纪传体通史是《史记》。</dd>-->
                <!--<dd>51.诸葛亮的草庐对联:淡泊以明志，宁静以致远。</dd>-->
                <!--<dd>52.苏轼早年书房对联:发奋识遍天下字，立志读尽人间书。</dd>-->
                <!--<dd>53.楼大防的书斋对联:门前莫约频来客，座上同观未见书。</dd>-->
                <!--<dd>54.陆游的书房对联:万卷古今消永日，一窗昏晓送流年。</dd>-->

                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d4c632;">-->

                <!--<dd>55.徐渭的青藤书屋对联:几间东倒西歪屋， 一个南腔北调人。</dd>-->
                <!--<dd>56.王夫之的书房对联:六经责我开生面，七尺从天乞活埋。</dd>-->
                <!--<dd>57.明末崇祯进士金声的书斋对联:-->
                <!--穷已彻骨，尚有一分生涯，饿死不如读书;-->
                <!--学未惬心，正须百般磨练，文通即是运通。-->
                <!--</dd>-->
                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d4c632;">-->

                <!--<dd>58.郑板桥的书斋联:咬定几句有用书，可忘饮食;养成数竿新生竹，直似儿孙。</dd>-->
                <!--<dd>59.蒲松龄的书斋联:有志者,事竟成，破釜沉舟，-->
                <!--百二秦关终属楚;苦心人，天不负，卧薪尝胆，三千越甲可吞吴。-->
                <!--</dd>-->
                <!--<dd>60.蒋士铨的书斋联:至乐莫过读书，至要莫如教子;寡智乃能习静，寡营乃可养生。</dd>-->
                <!--<dd>61.百姓的称谓:布衣、黎民、庶民、苍生、氓。</dd>-->
                <!--<dd>62.伯(孟)仲叔季:兄弟行辈中长幼排行的次序。</dd>-->
                <!--<dd>63.伯(孟)是老大,仲是老1二,叔是老三，季是老四。</dd>-->


                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->


                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #d4c632;">-->
                <!--<dd>64.不同的朋友关系之间的称谓:-->
                <!--金兰之交:情谊契合，亲如兄弟的朋友。-->
                <!--勿刎颈之交:同生死，共患难的朋友。-->
                <!--忘年之交:辈份不同，年龄相差较大的朋友。-->
                <!--布衣之交:以平民身份的相交往的朋友。-->
                <!--患难之交:在遇到磨难时结成的朋友。-->
                <!--</dd>-->
                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->


                <!--<div class="col-xs-4 col-sm-12 col-md-4 portfolio-item zhouqi ">-->
                <!--<div class="portfolio-wrapper">-->
                <!--<div class="portfolio-info ">-->
                <!--<dl class="koujue" style="background: #33d441;">-->
                <!--<dd>65.年龄的称谓:-->
                <!--垂髫:三四岁一八九岁。-->
                <!--总角:八九岁一十三四岁。-->
                <!--豆蔻:十三四岁一一十五六岁。-->
                <!--弱冠: 20岁。而立: 30岁。不惑: 40岁。-->
                <!--豆蔻:十三四岁一一十五六岁。-->
                <!--知天命: 50岁。花甲: 60岁。古稀: 70岁。-->
                <!--耄耋: 80岁、90岁。期颐: 100岁。-->
                <!--</dd>-->
                <!--</dl>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->


            </div>
        </div>
    </div>
</section>
<!--/#portfolio-->


<footer id="footer" slot="tmp_footer"></footer>
<!--/#footer-->


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script>
    moduleLoad("./template/page-template.html");
</script>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>


<script>
    $(document).ready(function () {
        $("dl.word>dd").click(function () {

            var $this = $(this);
            var attr = $this.find("rt").text()

            var way = $("input[name='way']:checked").val();
            var speed = $("input[name='speed']:checked").val();
            var lan = $("input[name='lan']:checked").val();

            englishRead(attr, way, speed, lan);
        })


        new Vue({
            el: '#app',
            data() {
                return {
                    info: null,
                    length:null,
                    step:7,
                    totalSplit:null,
                    colors:["#cb5b35","#cb5a8f","#3ecb36","#2e8dff","#cb5b35","#1b50df","#cb176c","#ffd515"]
                }
            },

            methods: {
                englishPlay: function (event) {
                    var $this = $(event.toElement);
                    var attr = $this.find("rt").text()

                    var way = $("input[name='way']:checked").val();
                    var speed = $("input[name='speed']:checked").val();
                    var lan = $("input[name='lan']:checked").val();

                    englishRead(attr, way, speed, lan);
                }
            },
            mounted() {
                axios
                    .get('data/yuwenzhishi.json')
                    .then(response => {this.info = response.data;
                    this.length = response.data.length;
                    this.totalSplit = Math.ceil(this.length/this.step);
                     })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        })


    })
</script>
</script>
<
/body>
< /html>
